html, body, h1, div, p, dl, dt, dd, form {
	display: block;
	line-height: inherit;
}
#header-area h1,
#header-area div,
#header-area ul,
#header-area li,
#header-area dl,
#header-area dt,
#header-area dd,
#global-nav-area ul,
#global-nav-area li,
#promo-box ul,
#promo-box li,
#announce-box ul,
#announce-box li,
.transfer-box ul,
.transfer-box li,
.util-box ul,
.util-box li,
.quick-link ul,
.quick-link li,
#operation-site-entry-area ul,
#operation-site-entry-area li,
#operation-site-entry-area dl,
#operation-site-entry-area dt,
#operation-site-entry-area dd{
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	line-height: 1;
}
#header-site-identity {
	top: 19px;
	left: 0px;
	position: absolute;
}
#header-tag-line {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 482px;
	text-align: right;
	color: #666;
	font-size: 10px;
	font-weight: normal;
}
#header-utility {
	position: absolute;
	top: 44px;
	left: 266px;
}
#header-search {
	position: absolute;
	top: 37px;
	left: 381px;
	height: 24px;
}

#header-search #header-search-query {
	width: 116px;
	min-height: 14px;
	margin: 0px;
	padding: 5px;
	border: 0px none;
	background: #FFF url("../img/search_bg_01.png") no-repeat scroll left top;
	line-height: 1.1;
}

input.image {
	border: medium none !important;
	background: transparent none repeat scroll 0% 0% !important;
	padding: 0px !important;
	vertical-align: top;
	margin-left:-4px;
}

.non-visual{
	display: none!important;
}

#header-area #style-switcher {
	position: absolute;
	top: 37px;
	left: 582px;
}

#style-switcher ul {
	position: absolute;
	top: 0px;
	left: 65px;
	width: 103px;
	background: #FFF url("../img/style-switcher_bg_01.png") no-repeat scroll left top;
}

#style-switcher dt {
	padding-top:6px;
}

#style-switcher ul li {
	float: left;
	margin-right: 2px;
}

a.switcher_btn:hover{
	opacity: 1;
}

a.switcher_btn:active{
	opacity: 0.5;
}

#global-nav-area{
	height:35px;
	width:748px;
	box-shadow: 2px 4px 10px -3px #888;
}

#global-nav li{
	float:left;
}

#global-nav li a:hover{
	pacity: 0.5;
}

.banner{
	width: 745px;
	height:221px;
	margin-left:2px;
	background-image: url("../img/banner.png");
	-moz-box-shadow: 0px 20px 25px #E5E4E4;
	-webkit-box-shadow: 0px 20px 25px #E5E4E4;
	box-shadow: 0px 20px 25px #E5E4E4;
	margin-top: 5px;
}
#promo-box{
	height: 130px;
	width: 747px;
	border: 1px solid #CCC;
	border-radius: 8px;
}
#promo-box li{
	float:left;
}

#promo-box li img{
	border-bottom: 1px solid #CCC;
}

#promo-box li .arrow.active{
	background: transparent url("../img/arrow.png") no-repeat scroll 0px 0px;
	position: absolute;
	margin-top: -3px;
	margin-left: 90px;
	z-index: 5;
	width: 20px;
	height: 10px;
}

#promo-box li a:hover{
	opacity: 0.5;
}

.content-table{
	margin-left: 10px;
	margin-top: 50px;
	line-height: 10px;
}

.content-table h3{
	color: red;
}
.content-table .black{
	color: black;
}
.container{
	width: 940px;
	margin: 0px auto;
	padding: 0px 20px;
	text-align: left;
	position: relative;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif;
	font-size: 14px;
}
#header-area {
	position: relative;
	width: 748px;
	min-height: 71px;
}

#announce-box{
	height: 100px;
	width: 747px;
	border: 1px solid red;
	border-radius: 8px;
	margin-top: 30px;
}
#announce-box li{
	float:left;
}

#announce-box hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	width: 99%;
}

#announce-box .title{
	margin: 5px 0px 0px 10px;
}

#announce-box .item{
	font-size:13px;
	line-height: 250%;
	margin-left: 10px;
}

#announce-box .item a{
	margin-left:20px;
}
.transfer-box,
.rate-box {
	margin-top:57px;
}
.rate-box .col-2{
	position: absolute;
	margin-top: -187px;
	margin-left: 515px;
}
.news >hr,
.util-box >hr,
.transfer-box >hr,
.col-1 >hr,
.col-2 >hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgb(255, 5, 2);
	border-bottom: 1px solid rgba(253, 255, 255, 0.66);
}
.util-box >hr {
	margin-top: -10px;
}
.news .title-bar h3,
.util-box .title-bar h3,
.transfer-box .title-bar h3,
.col-1 .title-bar h3,
.col-2 .title-bar h3{
	line-height: 8px;
}
.col-1 {
	width: 490px;
}

.title-bar >a,
.title-bar >a{
	float: right;
	margin-top: -30px;
	font-size:13px;
}

.col-1 .title-bar,
.col-2 .title-bar{
	margin-bottom: -8px;
}
.col-1 .item,
.col-2 .item{
	width: 235px;
	height: 125px;
}
.col-2 {
	width: 235px;
	margin-left:20px;
}
.col-2 .item .icon,
.col-1 .item .icon{
	height:38px;
	margin-left:5px;
	margin-top:5px;
}
.item .item-title{
	font-size: 18px;
	position: absolute;
	margin-top: 5px;
	text-decoration: None;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.col-1 .item,
.col-2 .item{
	margin-top:25px;
	border: solid 1px #CCC;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 2px #CCC;
	-moz-box-shadow:  0px 0px 2px #CCC;
	box-shadow:  0px 0px 2px #CCC;
}
.col-1 .item .rate-label,
.col-2 .item .rate-label{
	padding: 8px;
	background-color: rgb(233, 217, 178);
	width: 45px;
	border-radius: 5px 0px 0px 5px;
	margin-left: 5px;
	font-size: 12px;
}

.col-1 .item .rate-value,
.col-2 .item .rate-value{
	padding: 5.5px;
	background-color: #F4EBD3;
	border-radius: 0px 5px 5px 0px;
	margin-right: 5px;
	font-size: 12px;
	float: right;
	margin-top: -35px;
	width: 151px;
	line-height: 22px;
	text-align: center;
}

.col-1 .item .updated-date,
.col-2 .item .updated-date{
	float: right;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 3px;
}

.col-1 .item .smt,
.col-2 .item .smt{
	float: right;
	margin-top: 22px;
	font-size: 12px;
	margin-right: -84px;
}
.col-1 .red,
.col-2 .red{
	color: #F00;
	font-size: 16px;
	font-weight: bold;
}
.news,
.RSS,
.util-box,
.transfer-box{
	width: 747px;
}
.RSS{
	height:260px;
	margin-top: 80px;
}
.util-box{
	margin-top: 118px;
}
.news{
	margin-top: 100px;
}
.transfer-box li{
	float: left;
	width: 165px;
	padding:2px;
	margin-right: 21px;
	border: 1px solid #b2b2b2;
	-webkit-box-shadow:  0px 0px 3px #CCC;
	-moz-box-shadow:  0px 0px 3px #CCC;
	box-shadow:  0px 0px 3px #CCC;
	border-radius: 5px;
}
.util-box li.last-item,
.transfer-box li.last-item{
	margin-right: 0px;
}
.news .title-bar,
.transfer-box .title-bar{
	margin-bottom: -10px;
}

.util-box li{
	float:left;
	margin-right: 17px;
}
.RSS #rss-1,
.RSS #rss-2{
	float:left;
	height:260px;
	width: 360px;
	border: 1px solid #b2b2b2;
	-webkit-box-shadow:  0px 0px 3px #CCC;
	-moz-box-shadow:  0px 0px 3px #CCC;
	box-shadow:  0px 0px 3px #CCC;
	border-radius: 5px;
	background-image: url('../img/RSS_img.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.RSS #rss-1{
	margin-right: 23px;
}
.RSS #rss-1 .title,
.RSS #rss-2 .title{
	margin-left: 45px;
	margin-top:10px;
	font-size:20px;
}
.RSS #rss-1 .rss-ico,
.RSS #rss-2 .rss-ico{
	float: right;
	font-size: 15px;
	margin-right: 5px;
}
.RSS #rss-1 .rss-ico a,
.RSS #rss-2 .rss-ico a{
	text-decoration: none;
}
.RSS #rss-1 .feeds,
.RSS #rss-2 .feeds{
	width: 350px;
	margin: 11px auto auto;
	height: 210px;
}
.RSS #rss-1 .feeds td,
.RSS #rss-2 .feeds td{
	background-color: #f7f7f7;
	font-size: 12px;
	line-height: 200%;
	height: 45px;
	padding-left: 10px;
}
.RSS #rss-1 .feeds .mark,
.RSS #rss-2 .feeds .mark{
	position: absolute;
	margin-top: -20px;
	margin-left: 92px;
	width: 90px;
	background-color: gray;
	text-align: center;
	height: 15px;
	border-radius: 3px;
	color: white;
	padding: 0px;
	font-size: 11px;
	line-height: 15px;
}
.RSS #rss-1 .feeds td a,
.RSS #rss-2 .feeds td a{
	text-decoration: none;
}

.news .news-list .date-time{
	width: 100px;
	font-size: 14px;
}
.news .news-list .kind{
	width: 110px;
	text-align: center;
	background-color: rgb(230, 110, 80);
	border-radius: 6px;
	font-size: 13px;
}
.news .news-list .kind.other{
	background-color: #ff7f00;
}
.news .news-list .url{
	width: 524px;
	text-align: left;
}
.news .news-list .url a{
	margin-left:20px;
}

.right-col{
	position: absolute;
	top: 8px;
	right: 17px;
	width: 178px;
	font-size: 12px;
}

.right-col .row-1{
	width: 174px;
	height: 110px;
	background-image: url('../img/col-right-row-1.png');
	border: solid 1px #CCC;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 2px #CCC;
	-moz-box-shadow:  0px 0px 2px #CCC;
	box-shadow:  0px 0px 2px #CCC;
}

.right-col .row-1 button{
	width: 90%;
	margin-left: 5%;
	height: 36%;
	margin-top: 60px;
	border-radius: 6px;
	border-radius: 1px;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	background-image: -webkit-linear-gradient(top, #ffffff, #CCC);
	background-image: -moz-linear-gradient(top, #ffffff, #CCC);
	background-image: -ms-linear-gradient(top, #ffffff, #CCC);
	background-image: -o-linear-gradient(top, #ffffff, #CCC);
	background-image: linear-gradient(to bottom, #ffffff, #CCC);
	text-align: left;
	font-size: 15px;
}
.right-col .row-2 {
	height:100px;
	margin-top: 11px;
}

.right-col .row-3{
	margin-top: 8px;
}

.right-col .row-2 .title{
	padding: 11px 11px 11px 17px;
	background: #FFF;
	background-image: -webkit-linear-gradient(top, #f19b5c, #cf2817);
	background-image: -moz-linear-gradient(top, #f19b5c, #cf2817);
	background-image: -ms-linear-gradient(top, #f19b5c, #cf2817);
	background-image: -o-linear-gradient(top, #f19b5c, #cf2817);
	background-image: linear-gradient(to bottom, #f19b5c, #cf2817);
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
}

.right-col .row-2 .content{
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 2px rgb(204, 204, 204);
	border: 1px solid rgb(255, 255, 255);
	padding: 0px 10px;
	border-radius: 0px 0px 5px 5px;
}

.right-col .row-3 .title{
	padding: 0px 5px 2px 17px;
	background: #FFF linear-gradient(to bottom, #C6464F, #600305) repeat scroll 0% 0%;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
}

.right-col .row-3 .content{
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 2px rgb(204, 204, 204);
	border: 1px solid rgb(255, 255, 255);
	padding: 0px 10px;
	border-radius: 0px 0px 5px 5px;
}

.right-col .row-4 {
	border: 1px solid #d9d9d9;
	-webkit-box-shadow:  0px 0px 3px #CCC;
	-moz-box-shadow:  0px 0px 3px #CCC;
	box-shadow:  0px 0px 3px #CCC;
	margin-top: 20px;
	border-radius: 10px;
	padding: 12px;
	height:410px;
}
.right-col .row-4 .title{
	font-size: 20px;
	background-color: rgb(243, 243, 243);
	margin-top: -12px;
	margin-left: -12px;
	border-radius: 8px 8px 0px 0px;
	width: 166px;
	padding: 0px 0px 0px 10px;
}
.right-col .row-4 .date-time{
	text-align: right;
	color: #666666;
	margin-top: 10px;
	font-size: 10px;
}
#link hr,
.footer hr,
.right-col .row-6 hr,
.right-col .row-5 hr,
.right-col .row-4 hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.right-col .row-4 .rate-title{
	font-weight: bold;
}
.right-col .row-4 table{
	width: 100%;
}
.right-col .row-4 .red{
	color: red;
	font-weight: bold;
}
.right-col .row-4 .black{
	color: black;
	font-weight: bold;
}
.right-col .row-4 a{
	text-decoration: none;
}
.right-col .row-6,
.right-col .row-5{
	border: 1px solid #d9d9d9;
	-webkit-box-shadow:  0px 0px 3px #CCC;
	-moz-box-shadow:  0px 0px 3px #CCC;
	box-shadow:  0px 0px 3px #CCC;
	border-radius: 5px;
	margin-top: 15px;
}
.right-col .row-5 .content{
	padding: 5px;
	padding-left: 10px;
}
.right-col .row-6 .content a,
.right-col .row-5 .content a{
	text-decoration: none;
}

.right-col .row-6{
	margin-top: 10px;
	-webkit-box-shadow:  0px 0px 0px #CCC;
	-moz-box-shadow:  0px 0px 0px #CCC;
	box-shadow:  0px 0px 0px #CCC;
}
.right-col .row-6 .content{
	padding:8px 4px 4px 10px;
}
.right-col .row-6 hr{
	margin: 0px;
}

.right-col .row-7{
	margin-top:10px;
	line-height: 27px;
}

.right-col .row-7 a{
	text-decoration: none;
}

.footer{
	margin-top:110px;
}

.footer .list-1,
.footer .list-2,
.footer .list-3,
.footer .list-4,
.footer .list-5{
	float:left;
	width: 145px;
	list-style: outside none none;
	margin: 0px 0px 0px 15px;
	padding: 0px 35px 0px 0px;
}

.footer .list-5{
	padding: 0px;
}

.footer .list-1 hr,
.footer .list-2 hr,
.footer .list-3 hr,
.footer .list-4 hr,
.footer .list-5 hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-left:-15px;
}

.footer .list-1 li:before ,
.footer .list-2 li:before ,
.footer .list-3 li:before ,
.footer .list-4 li:before ,
.footer .list-5 li:before {
	content: "";
	border-color: transparent black;
	border-style: solid;
	border-width: 5px 0px 4px 5px;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 0.9em;
	position: relative;
}

.footer .top-link{
	float: right;
	margin-top: -30px;
}
.footer a{
	text-decoration: none;
	color: #666666;
	font-size: 12px;
}
#link {
	margin-top:365px;
}

#link .quick-link a{
	text-decoration: none;
	color: #666666;
	font-size: 12px;
}
#link .quick-link li{
	float: left;
	margin: 0px 0px 0px 25px;
}
#link .quick-link li:before{
	content: "";
	border-color: transparent black;
	border-style: solid;
	border-width: 5px 0px 4px 5px;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 0.7em;
	position: relative;
}

#link .quick-link{
	margin-left: -50px;
	margin-top: -10px;
}

.copyright {
	float:right;
	font-size: 12px;
}